<section>
  <style>
    .tab button.active {
      background-color: blue;
      opacity: 0.8;
      color: white;
      transition: all 1s;
    }

    .tabcontent {
      display: none;
    }
  </style>

  <!-- written block -->
  <div class="flex flex-col pt-20 items-center leading-7 text-center text-gray-900 border-0 border-gray-200 mb-16">
    <h2 class="box-border m-0 text-3xl font-semibold leading-tight tracking-tight text-black border-solid sm:text-4xl md:text-5xl">
      Simple, Transparent Pricing
    </h2>
    <p class="box-border mt-2 text-xl text-gray-900 border-solid sm:text-2xl">
      Pricing to fit the needs of any company size.
    </p>
  </div>

  <!-- Tab links -->
  <div class="flex justify-center text-center">
    <div class="flex flex-row">
      <p class="px-6">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <p class="text-red-700 px-6 italic">&nbsp;&nbsp;&nbsp;&nbsp;Save 15% </p>
      <p class="text-red-700 px-6 italic"> Save 25% &nbsp;&nbsp;</p>
    </div>
  </div>
  <div class="tab flex justify-center text-center">
    <div class="border bg-gray-50 rounded-full flex flex-row ">
      <button class="tablinks hover:bg-gray-100 text-xl px-6 py-2 rounded-full" onclick="openTab(event, 'Monthly')" id="defaultOpen">Monthly</button>
      <button class="tablinks hover:bg-gray-100  text-xl rounded-full px-6 py-2" onclick="openTab(event, 'Quarterly')">Quarterly</button>
      <button class="tablinks hover:bg-gray-100  text-xl  rounded-full px-6 py-2" onclick="openTab(event, 'Yearly')">Yearly</button>
    </div>
  </div>

  <!-- plans -->
  <div id="Monthly" class="tabcontent">
    <section class="py-8 leading-7 text-gray-900 bg-white sm:py-12 md:py-16 lg:py-24">
      <div class="box-border px-4 mx-auto border-solid sm:px-6 md:px-6 lg:px-8 max-w-7xl">
        <!-- pricing grid   -->
        <div class="grid grid-cols-1 gap-4 mt-4 leading-7 text-gray-900 border-0 border-gray-200 sm:mt-6 sm:gap-6 md:mt-8 md:gap-0 lg:grid-cols-3">
          <!-- Price 1 -->
          <div class="relative hover:bg-gray-100 z-10 flex flex-col items-center max-w-md p-4 mx-auto my-0 border border-solid rounded-lg lg:-mr-3 sm:my-0 sm:p-6 md:my-8 md:p-8">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Starter
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                3449
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for Startups and Small Companies
            </p>
            <ul class="flex-1 p-0 mt-4 ml-5 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                1 Daily Active Request
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Brands
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                7 Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                2 Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                24-48 Hours* Output
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Inlcludes Print & Digital Graphic Designs
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Email Support
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input hidden name="plan" id="" value="<%= plans.StarterMonthly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-blue-600 no-underline bg-transparent border border-blue-600 rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
          <!-- Price 2 -->
          <div class="relative hover:bg-gray-100 z-20 flex flex-col items-center max-w-md p-4 mx-auto my-0 bg-white border-4 border-blue-600 border-solid rounded-lg sm:p-6 md:px-8 md:py-16">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Basic
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                14,999
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for medium-size businesses to larger businesses
            </p>
            <ul class="flex-1 p-0 mt-4 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Everything in Starter
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                24 Hours* Output
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Dedicated Designer
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes Logo Creation
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input hidden name="plan" id="" value="<%= plans.BasicMonthly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-white no-underline bg-blue-600 border rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
          <!-- Price 3 -->
          <div class="relative hover:bg-gray-100 z-10 flex flex-col items-center max-w-md p-4 mx-auto my-0 border border-solid rounded-lg lg:-ml-3 sm:my-0 sm:p-6 md:my-8 md:p-8">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Plus
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                24,999
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for larger and enterprise companies
            </p>
            <ul class="flex-1 p-0 mt-4 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Everything in Basic
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                2 Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes GIFs
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes Motion Video
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input type="text" hidden name="plan" id="" value="<%= plans.PlusMonthly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-blue-600 no-underline bg-transparent border border-blue-600 rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="Quarterly" class="tabcontent">
    <section class="py-8 leading-7 text-gray-900 bg-white sm:py-12 md:py-16 lg:py-24">
      <div class="box-border px-4 mx-auto border-solid sm:px-6 md:px-6 lg:px-8 max-w-7xl">
        <!-- pricing grid   -->
        <div class="grid grid-cols-1 gap-4 mt-4 leading-7 text-gray-900 border-0 border-gray-200 sm:mt-6 sm:gap-6 md:mt-8 md:gap-0 lg:grid-cols-3">
          <!-- Price 1 -->
          <div class="relative hover:bg-gray-100 z-10 flex flex-col items-center max-w-md p-4 mx-auto my-0 border border-solid rounded-lg lg:-mr-3 sm:my-0 sm:p-6 md:my-8 md:p-8">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Starter
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-3xl line-through font-semibold leading-none border-solid">
                3449
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                2931
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for Startups and Small Companies
            </p>
            <ul class="flex-1 p-0 mt-4 ml-5 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                1 Daily Active Request
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Brands
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                7 Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                2 Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                24-48 Hours* Output
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Inlcludes Print & Digital Graphic Designs
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Email Support
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input hidden name="plan" id="" value="<%= plans.StarterQuarterly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-blue-600 no-underline bg-transparent border border-blue-600 rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
          <!-- Price 2 -->
          <div class="relative hover:bg-gray-100 z-20 flex flex-col items-center max-w-md p-4 mx-auto my-0 bg-white border-4 border-blue-600 border-solid rounded-lg sm:p-6 md:px-8 md:py-16">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Basic
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-3xl line-through font-semibold leading-none border-solid">
                14,999
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                12,750
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for medium-size businesses to larger businesses
            </p>
            <ul class="flex-1 p-0 mt-4 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Everything in Starter
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                24 Hours* Output
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Dedicated Designer
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes Logo Creation
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input hidden name="plan" id="" value="<%= plans.BasicQuarterly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-white no-underline bg-blue-600 border rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
          <!-- Price 3 -->
          <div class="relative hover:bg-gray-100 z-10 flex flex-col items-center max-w-md p-4 mx-auto my-0 border border-solid rounded-lg lg:-ml-3 sm:my-0 sm:p-6 md:my-8 md:p-8">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Plus
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-3xl line-through font-semibold leading-none border-solid">
                24,999
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                21,249
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for larger and enterprise companies
            </p>
            <ul class="flex-1 p-0 mt-4 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Everything in Basic
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                2 Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes GIFs
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes Motion Video
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input type="text" hidden name="plan" id="" value="<%= plans.PlusQuarterly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-blue-600 no-underline bg-transparent border border-blue-600 rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="Yearly" class="tabcontent">
    <section class="py-8 leading-7 text-gray-900 bg-white sm:py-12 md:py-16 lg:py-24">
      <div class="box-border px-4 mx-auto border-solid sm:px-6 md:px-6 lg:px-8 max-w-7xl">
        <!-- pricing grid   -->
        <div class="grid grid-cols-1 gap-4 mt-4 leading-7 text-gray-900 border-0 border-gray-200 sm:mt-6 sm:gap-6 md:mt-8 md:gap-0 lg:grid-cols-3">
          <!-- Price 1 -->
          <div class="relative hover:bg-gray-100 z-10 flex flex-col items-center max-w-md p-4 mx-auto my-0 border border-solid rounded-lg lg:-mr-3 sm:my-0 sm:p-6 md:my-8 md:p-8">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Starter
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-3xl line-through font-semibold leading-none border-solid">
                3449
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                2586
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for Startups and Small Companies
            </p>
            <ul class="flex-1 p-0 mt-4 ml-5 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                1 Daily Active Request
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Brands
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                7 Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                2 Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                24-48 Hours* Output
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Inlcludes Print & Digital Graphic Designs
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Email Support
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input hidden name="plan" id="" value="<%= plans.StarterYearly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-blue-600 no-underline bg-transparent border border-blue-600 rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
          <!-- Price 2 -->
          <div class="relative hover:bg-gray-100 z-20 flex flex-col items-center max-w-md p-4 mx-auto my-0 bg-white border-4 border-blue-600 border-solid rounded-lg sm:p-6 md:px-8 md:py-16">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Basic
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-3xl line-through font-semibold leading-none border-solid">
                14,999
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                11,249
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for medium-size businesses to larger businesses
            </p>
            <ul class="flex-1 p-0 mt-4 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Everything in Starter
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                24 Hours* Output
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Dedicated Designer
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes Logo Creation
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input hidden name="plan" id="" value="<%= plans.BasicYearly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-white no-underline bg-blue-600 border rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
          <!-- Price 3 -->
          <div class="relative hover:bg-gray-100 z-10 flex flex-col items-center max-w-md p-4 mx-auto my-0 border border-solid rounded-lg lg:-ml-3 sm:my-0 sm:p-6 md:my-8 md:p-8">
            <h3 class="m-0 text-2xl font-semibold leading-tight tracking-tight text-black border-0 border-gray-200 sm:text-3xl md:text-4xl">
              Plus
            </h3>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-3xl line-through font-semibold leading-none border-solid">
                24,999
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <div class="flex items-end mt-6 leading-7 text-gray-900 border-0 border-gray-200">
              <p class="box-border m-0 text-6xl font-semibold leading-none border-solid">
                18,749
              </p>
              <p class="box-border m-0 border-solid" style="border-image: initial;">
                INR/ month
              </p>
            </div>
            <p class="mt-6 mb-5 text-base leading-normal text-left text-gray-900 border-0 border-gray-200">
              Ideal for larger and enterprise companies
            </p>
            <ul class="flex-1 p-0 mt-4 leading-7 text-gray-900 border-0 border-gray-200">
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Everything in Basic
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                2 Requests
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Unlimited Revisions
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes GIFs
              </li>
              <li class="inline-flex items-center block w-full mb-2 ml-5 font-semibold text-left border-solid">
                <svg class="w-5 h-5 mr-2 font-semibold leading-7 text-blue-600 sm:h-5 sm:w-5 md:h-6 md:w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                  </path>
                </svg>
                Also Includes Motion Video
              </li>
            </ul>
            <form action="/payment/create-checkout-session" method="post">
              <input type="text" hidden name="plan" id="" value="<%= plans.PlusYearly %>">
              <button class="inline-flex justify-center w-full px-4 py-3 mt-8 font-sans text-sm leading-none text-center text-blue-600 no-underline bg-transparent border border-blue-600 rounded-md cursor-pointer hover:bg-blue-700 hover:border-blue-700 hover:text-white focus-within:bg-blue-700 focus-within:border-blue-700 focus-within:text-white sm:text-base md:text-lg">
                Select Plan
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>


  <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script>
</section>