<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Blog - MonkeySingh</title>
</head>

<body>
    <%- include("partials/primaryHeader.ejs") %>
        <div class="relative container mx-auto bg-white px-4">
            <article class="max-w-prose mx-auto py-8">
                <h1 class="text-2xl font-bold">
                    <%= blogPost.title %>
                </h1>
                <h2 class="mt-2 text-sm text-gray-500">
                    <%=blogPost.author%>,&nbsp;<%= blogPost.date %>,&nbsp;<%= blogPost.category %>
                </h2>
                <p class="mt-6">
                    <%= blogPost.description %>
                </p>
            </article>
        </div>
        <%- include("partials/footer.ejs") %>
</body>

</html>