<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="description" content="Most affordable and unlimited graphic designs. Try for free">
  <script async src="https://kit.fontawesome.com/20970c5fb1.js" crossorigin="anonymous"></script>
  <title>Home</title>
</head>

<body class="">

  <%- include("partials/primaryHeader.ejs") %>

  <!-- Hero -->
  <!-- <div class="py-10 hidden md:block"></div> -->
  <section class="px-2 py-18 bg-white md:px-0">
    <div class="container my-12 items-center max-w-6xl px-8 mx-auto xl:px-5">
      <div class="flex my-12 flex-wrap items-center sm:-mx-3">
        <div class="w-full py-24 text-center md:text-left md:w-1/2 md:px-3">
          <div class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
            <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
              <span class="block xl:inline">A Simple</span>
              <span class="block text-blue-600 xl:inline">Project Managment App</span>
              <span class="block xl:inline">based on subscription model !</span>
            </h1>
            <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">Your
              on-demand project creation service.
              Simple, fast and affordabledesigners at fixed monthly rate.</p>
            <div class="relative flex flex-col sm:flex-row sm:space-x-4">
              <a href="/user/register" class="flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-blue-600 rounded-md sm:mb-0 hover:bg-blue-700 sm:w-auto">
                Get Started
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="w-full py-24 md:w-1/2">
          <div class="w-full h-auto overflow-hidden rounded-md sm:rounded-xl">
            <img src="https://ik.imagekit.io/hrgu22madpa/Designer_fEvBboguv.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656583906736" alt="Project Managment App">
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <!-- logo section -->
  <section class="pt-7 pb-14 bg-blue-200">
    <div class="container px-8 mx-auto sm:px-12 lg:px-20">
      <h1 class="text-sm font-bold tracking-wide text-center text-gray-800 uppercase mb-7">Trusted by
        top-leading
        companies.</h1>
      <div class="flex grid items-center justify-center grid-cols-4 grid-cols-12 gap-y-8">
        <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36_a_hst_huFTn.png?updatedAt=1639935736111" alt="Disney Plus" class="block object-contain h-12 filter hover:filter-none">
        </div>
        <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36_ac_n_lD5Om_y.png?updatedAt=1639935735992" alt="Google" class="block object-contain h-9 filter hover:filter-none">
        </div>
        <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36c85v_ko1A8Gsnc.png?updatedAt=1639935735964" alt="Hubspot" class="block object-contain h-9 filter hover:filter-none">
        </div>
        <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36_vd_H3d0c4AVdqP.png?updatedAt=1639935735946" alt="Youtube" class="block object-contain h-7 lg:h-8 filter hover:filter-none">
        </div>
        <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36_cvv__QZUre5a6.png?updatedAt=1639935735982" alt="Slack" class="block object-contain h-9 filter hover:filter-none">
        </div>
        <div class="flex items-center justify-center col-span-6 sm:col-span-4 md:col-span-6 xl:col-span-2">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/LogoSection/120x36c58v_DMl1subOM.png?updatedAt=1639935736071" alt="Shopify" class="block object-contain h-9 filter  hover:filter-none">
        </div>
      </div>
    </div>
  </section>
  <hr>

  <!-- features section-->
  <%- include("sections/features.ejs") %>
  <hr>
  <!-- how it works  -->
  <%- include("sections/howitworks.ejs") %>

  <!-- pricing-->
  <%- include("sections/pricing.ejs") %>
  <hr>

  <!-- other features -->
  <section class="py-20 bg-gray-50">
    <div class="container items-center max-w-6xl px-4 px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
      <div class="flex flex-wrap items-center -mx-3">
        <div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
          <div class="w-full lg:max-w-md">
            <h2 class="mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-4xl font-heading">
              Jam-packed with all the tools you need to succeed!</h2>
            <p class="mb-4 font-medium tracking-tight text-gray-400 xl:mb-6">It's never been
              easier
              to
              build
              a business of your own. Our tools will help you with the following:</p>
            <ul>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <svg class="w-8 h-8 text-pink-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z">
                  </path>
                </svg>
                <span class="font-medium text-gray-500">Faster Processing and
                  Delivery</span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <svg class="w-8 h-8 text-yellow-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4">
                  </path>
                </svg>
                <span class="font-medium text-gray-500">Out of the Box Tracking and
                  Monitoring</span>
              </li>
              <li class="flex items-center py-2 space-x-4 xl:py-3">
                <svg class="w-8 h-8 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z">
                  </path>
                </svg>
                <span class="font-medium text-gray-500">100% Protection and Security for
                  Your
                  App</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0"><img class="mx-auto sm:max-w-sm lg:max-w-full" src="https://ik.imagekit.io/hrgu22madpa/Team_6n8Mabv_i.png?ik-sdk-version=javascript-1.4.3&updatedAt=1656584020512" alt="feature image">
        </div>
      </div>
    </div>
  </section>
  <hr>

  <!-- potfolio section -->
  <section>
    <style>
      .card-onhover {}

      .card-onhover button {
        background: #2563EB;
        color: white;
      }

      .image-gallery::-webkit-scrollbar {
        display: none;
      }

      .image-gallery {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
    <!-- title with buttons  -->
    <div class="flex flex-col text-center md:text-left md:flex-row md:justify-around px-4 md:px-12 py-12 align-middle">
      <div class="px-8">
        <h1 class="text-5xl font-bold my-4">Our Portfolio</h1>
        <p class="mb-12">
          Whether it’s a new logo, marketing materials, advertisements, banner or website/app
          design,
          there's always a dedicated
          designer for the job.
        </p>
      </div>
      <a href="/our-work" class="px-6 my-auto mx-auto py-2 border-blue-600 text-blue-600 border-2 hover:bg-blue-600 hover:text-white transition duration-100 shadow-xl shadow-blue-500 rounded-md">
        View All
      </a>
    </div>
    <!-- image gallery  -->
    <div class="flex py-12 flex-row gap-6 image-gallery  overflow-scroll flex-nowrap transition-500 image-gallery">
      <% workArray.forEach( work=> { %>
      <!-- card -->
      <div class="relative card-body bottom-0" style="min-height: 250px; min-width: 300px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img class="rounded-md card-image" src="<%= work.image %>" alt="" />
        <button class="px-6 card-text py-3 absolute top-4 border-2 shadow-xl bg-white rounded-md left-4">
          <%= work.category %>
        </button>
      </div>
      <% }); %>
    </div>
    <div class="flex flex-row justify-center gap-4 mb-12">
      <button class="text-5xl" id="left-navigate-portfolio"><i class="fas fa-arrow-circle-left"></i></button>
      <button class="text-5xl" id="right-navigate-portfolio"><i class="fas fa-arrow-circle-right"></i></button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(".image-gallery").scrollLeft(200);
      var scroll = 0;
      $("#left-navigate-portfolio").click(function() {
        scroll -= 100;
        $(".image-gallery").scrollLeft(scroll);
      })
      $("#right-navigate-portfolio").click(function() {
        scroll += 100;
        $(".image-gallery").scrollLeft(scroll);
      })
      $(".card-body").hover(
        function() {
          $(this).addClass("bottom-4");
          $(this).addClass("card-onhover");
        },
        function() {
          $(this).removeClass("bottom-4");
          $(this).removeClass("card-onhover");
        }
      );
    </script>
  </section>
  <hr>

  <!-- testimonial -->
  <section class="flex items-center justify-center py-20 bg-white min-w-screen">
    <div class="md:px-16 bg-white">
      <div class="container flex flex-col items-start mx-auto lg:items-center">
        <p class="relative flex justify-center items-center w-full text-lg font-bold text-center tracking-wider text-purple-500 uppercase ">
          Don't just take our word for it</p>
        <h2 class="relative flex items-center w-full max-w-3xl text-5xl text-center font-bold justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="absolute right-0 hidden w-12 h-12 -mt-2 -mr-16 text-gray-200 lg:inline-block" viewBox="0 0 975.036 975.036">
            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
            </path>
          </svg>
          See what others are saying
        </h2>
        <div class="block w-full h-0.5 max-w-lg mt-6 bg-purple-100 rounded-full"></div>

        <div class="my-6 w-full flex flex-wrap gap-5 justify-center">
          <% testimonialArray.forEach(testimonial=> { %>
          <% if(testimonial.image){ %>
          <div class="bg-white w-96 my-5 hover:bg-gray-50 shadow-xl border rounded-lg p-6" style="width: 400px; margin: 5px;">
            <div class="flex items-center space-x-6 mb-4">
              <img class="h-20 w-20 object-cover object-center rounded-full" src="<%= testimonial.image %>&tr=h-100%2Cw-100" alt="photo" />
              <div>
                <p class="text-xl text-gray-700 font-normal mb-1">
                  <%= testimonial.name %>
                </p>
                <p class="text-base text-blue-600 font-normal">
                  <%= testimonial.designation %>
                </p>
              </div>
            </div>
            <div>
              <p class="text-gray-400 leading-loose overflow-hidden font-normal text-base">
                <%= testimonial.description %>
              </p>
            </div>
          </div>
          <% }else{ %>
          <div class="bg-white w-96 my-5 hover:bg-gray-50 shadow-xl border rounded-lg p-6" style="width: 400px; margin: 5px;">
            <div class="flex items-center space-x-6 mb-4">
              <div>
                <p class="text-xl text-gray-700 font-normal mb-1">
                  <%= testimonial.name %>
                </p>
                <p class="text-base text-blue-600 font-normal">
                  <%= testimonial.designation %>
                </p>
              </div>
            </div>
            <div>
              <p class="text-gray-400 leading-loose overflow-hidden font-normal text-base">
                <%= testimonial.description %>
              </p>
            </div>
          </div>
          <% }}); %>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <!-- faqs-->
  <%- include("sections/faqs.ejs") %>

  <!-- footer  -->
  <%- include("partials/footer.ejs") %>
</body>

</html>