<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Features - MonkeySingh</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <!-- our work -->
        <h1 class="text-6xl mt-24 font-bold text-center">Our Work</h1>
        <div class="min-h-screen py-32 px-10 ">
            <div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-10 xl-grid-cols-4 gap-y-10 gap-x-6 ">
                <% workArray.forEach( work=> { %>
                    <div
                        class=" container mx-auto shadow-lg rounded-lg max-w-md hover:shadow-2xl transition duration-300">
                        <img src="<%= work.image %>" alt="" class="rounded-t-lg w-full">
                        <div class="p-6">
                            <h1
                                class="md:text-1xl text-xl hover:text-indigo-600 transition duration-200  font-bold text-gray-900 ">
                                <%= work.name %>
                            </h1>
                            <p class="text-gray-700 my-2 hover-text-900 ">
                                <%= work.description.slice(0,70) %>...
                            </p>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>
</body>

</html>